{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 ">
        <div class="col-7 col-md-6 my-auto hero-text">
            <h1 class="display-3 logo-font hero-text">
                Photography for everyone
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}"
                        class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Browse Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<!--Section: Content-->
<section>
    <div class="row">
            <div class="col-md-6 gx-5 mb-4 text-center ">
                <h4><strong class="text-center ">Welcome to our webstore</strong></h4>
                <p class="text-muted text-center ">
                    We offer a stunning collection of photographic prints that are sure to add a touch of elegance and
                    sophistication to any room in your home or office. Each photograph in our collection has been taken
                    with
                    great care and attention to detail, ensuring that every print you receive is of the highest quality.

                    We take great pride in using only the finest photo paper for our prints, ensuring that each image is
                    sharp, vibrant, and full of life. Whether you're looking for a classic black and white landscape or
                    a
                    colorful portrait, our prints are sure to impress.
                </p>
                <p class="text-muted text-center">
                    At our webstore, we understand that time is of the essence, which is why we offer fast and reliable
                    delivery straight to your door. We take great care in packaging each print to ensure that it arrives
                    in
                    pristine condition, ready for you to display with pride.

                    Whether you're looking to add a pop of color to a drab wall or simply want to showcase your love for
                    photography, our collection of photographic prints is sure to have something for everyone. So why
                    wait?
                    Browse our collection today and start adding a touch of beauty to your space!
                </p>
            </div>
        </div>
</section>
<!--Section: Content-->
{% endblock %}